.site-header{
	margin: 0px !important;
	padding: 20px 0 !important;
	padding-top: 0 !important;
	border-bottom: 0px !important;
	background-color: rgb(0, 0, 0) !important;
	position: fixed !important;
	width: 100%;
	left: 0;
	top: 0;

	.lineTop{
		width: 100%;
		padding: 3px 0;
		background-color: #e97d35;

		.main{
			justify-content: end;
		}

		.redes{
			display: flex;
			margin-right: 10px;

			a{
				margin-left: 15px;
				color: #fff;
				font-size: 18px;

				&:hover{
					color: #000;
				}
			}
		}
	}

	.lineBottom{
		padding-top: 20px;
		background-color: #000;
	}

	.main{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.brand{
		font-size: 0px;

		img{
			width: 230px;
		}
	}

	.right{
		display: flex;
		align-items: center;
	}

	.menu{
		ul{
			display: flex;
			align-items: center;
			margin: 0;

			li{

				&.current_page_item, &.current-menu-item{
					a{
						color: $orange;
					}
				}
				// margin: 0 5px;

				a{
					color: #fff;
					padding: 15px;
					font-size: 16px;

					&:hover{
						color: $orange;
					}
				}
			}
		}
	}

	.icons{
		display: flex;
		margin-left: 20px;
		align-items: center;

		.iconMenu{
			display: none;

			img{
				border-radius: 0px;
			}
		}

		.icon{
			margin: 0px 15px;
			img{
				width: 24px;
				filter: invert(1);
			}
		}

		.linkCart{
			position: relative;

			.number{
				position: absolute;
				right: -9px;
				top: -7px;
				background-color: #000;
				color: #fff;
				font-size: 13px;
				justify-content: center;
				align-items: center;
				border-radius: 60px;
				width: 22px;
				height: 22px;
				text-align: center;
				font-weight: 600;
				display: flex;
				border: 2px solid $orange;
				z-index: 9;

				&.loading{
					background-image: url('../images/loading.svg');
					background-repeat: no-repeat;
					background-size: 66%;
					background-position: center;
				}
			}
		}
	}
}


.slick-arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70px;
	height: 70px;
	background-color: transparent;
	margin: auto;
	z-index: 2;
	border: 0px;
	font-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover{
		background-color: transparent;
		opacity: 0.7;
	}
}

.slick-prev{
	left: -30px;
	background-image: url('../images/icones/arrow-left.png');
}

.slick-next{
	background-image: url('../images/icones/arrow-right.png');
	right: -30px;
}



footer{
	width: 100%;
	background-color: #f5f5f5;
	padding: 20px 0;

	.lineTop{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-bottom: 20px;

		.menu{
			
			ul{
				margin: 0;
				display: flex;
			}

			a{
				margin: 0 10px;
				font-size: 15px;
				color: #333;

				&:hover{
					color: #000;
				}
			}
		}

		.redes{
			display: flex;

			a{
				width: 32px;
				height: 32px;
				border: 1px solid #000;
				margin-left: 15px;
				color: #000;
				font-size: 17px;
				opacity: 0.6;
				border-radius: 100%;
				text-align: center;
				line-height: 30px;

				&:hover{
					opacity: 0.9;
				}
			}
		}
	}

	.lineBottom{
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.linkMvm{
			img{
				width: 80px;
			}
		}
	}
}


.pagination{
	width: 100%;
	display: flex;
	justify-content: center;

	.page-numbers{
		width: 36px;
		height: 36px;
		border-radius: 80px;
		border: 2px solid #acacac;
		background-color: #fff;
		text-align: center;
		line-height: 32px;
		font-weight: 600;
		margin: 5px !important;

		&.current{
			border-color: $orange;
		}
	}
}

.contentProdutos{
	width: 100%;
	padding: 40px 0;

	&.materiais{
		background-color: #f5f5f5;
	}

	.main{
		max-width: 1230px;
	}

	.top{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 15px;
		box-sizing: border-box;

		h3{
			font-weight: 400;
			margin: 0;
			color: $orange;
		}

		a{
			color: #848484;
			font-weight: 600;

			&:hover{
				color: #000;
			}
		}
	}

	.slick-prev{
		left: -45px;
	}

	.slick-next{
		right: -45px;
	}	
}

.ads{
	width: 100%;
	display: block;
	text-align: center;

	img{
		margin: 0 auto;
		display: block;
	}
}

.newsletter{
	width: 100%;
	display: inline-block;
	padding: 40px 0;
	background-color: $orange;
	margin-top: -2px;

	.main{
		display: flex;
		justify-content: space-between;

		.title{
			width: 280px;
			font-weight: 900;
			font-size: 28px;
			color: #000;
			line-height: 1.1;
		}

		form{
			width: 100%;
			display: flex;
			align-items: baseline;
			margin: 0;

			input[type="submit"]{
				background-color: #000;
				color: #fff;
				padding: 10px 20px;
				box-sizing: border-box;
				text-align: center;
				margin-left: 10px !important;
			}
		}
	}
}

.field{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;

	&.field-50{
		width: 50%;
	}

	input, textarea{
		width: 100%;
		padding: 13px !important;
		box-sizing: border-box;
		border: 0px;
		font-size: 16px;
	}



	.btn{
		background-color: #000;
		color: #fff;
		padding: 10px 20px;
		box-sizing: border-box;
		text-align: center;
		margin-left: 10px !important;
	}
}

.entry-header{
	margin-top: 40px;
	padding-bottom: 20px !important;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments{
	background-color: $orange !important;
}

.modalBusca{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9991;
	display: none;

	.close{
		position: absolute;
		right: 40px;
		top: 40px;
		cursor: pointer;
		@extend %transition;

		&:hover{
			opacity: 0.8;
		}
	}


	.bottom{
		margin-top: 15%;
		width: 100%;

		.main{
			max-width: 850px;
		}

		form{
			display: flex;
			justify-content: space-between;
		    padding: 20px;
		    border-radius: 10px;

			input{
				width: 85%;
				padding: 15px;
				background-color: white;
				border: 0px;
				border-left: 6px solid $orange;
				color: #222;
				box-shadow: none;
				font-size: 22px;

				&::placeholder {
					color: #999;
				}
			}

			button{
				width: 15%;
				padding: 10px 30px;
				text-align: center;
				background-color: #000;
				color: #fff;
				border: 0px;
				cursor: pointer;
			}
		}
	}
}

.overModalBusca{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9990;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.bannerTop{
	width: 100%;
	height: 215px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.title{
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 2;
		color: #fff;
		font-size: 42px;
		text-transform: uppercase;
		font-weight: normal;
	}

	.bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}
}

#mailpoet_form_1 .mailpoet_paragraph{
	line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 50% !important;

	&.last{
		width: 30% !important;
	}

	input{
		padding: 12px !important;
	}
}

.mailpoet_form.mailpoet_form_successfully_send .mailpoet_validate_success{
	color: #000;
    font-size: 20px;
    font-weight: 700;
}