.page-blog{

	.ctnPosts{
        margin-top: 40px;
		margin-bottom: 50px;

		.title{
			width: 100%;
			margin-left: 10px;
			font-weight: bold;
		}
	}
}

.posts{
	width: 100%;
	display: inline-block;

	&.col-2{
		._itemGrid{
			width: 50%;
		}
	}

	&.col-3{
		._itemGrid{
			width: 33.3%;
		}
	}

	._itemGrid{
		width: 25%;
	}
}

._itemGrid{
	padding: 10px;
	box-sizing: border-box;
	float: left;

	&.style-02{
		.bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left{
				width: 60%;
			}

			.btn{
				border-color: #fff;

				&:before{
					display: none;
				}
			}

		}
	}

	.ctn{
		width: 100%;
		
		position: relative;

		.link{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0px;
			z-index: 3;
		}

		&:hover{
			.bottom{
				padding-bottom: 40px;
			}

			figure{

				&:before{
					// opacity: 0.4;
				}

				img{
					transform: scale(1.1);
				}
			}
		}

		.tags{
			display: flex;
			margin: 0px;
			margin-bottom: 10px;

			li{
				margin-right: 10px;

				a{
					display: block;
					color: #fff;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					padding: 2px 5px;
				}

				&:first-child{
					margin-left: 0px;
				}
			}
		}

		span{
			font-size: 15px;
		}

		.title-c{
			width: 100%;
			display: inline-block;
			font-weight: bold;
			color: #fff;
			margin: 2px 0px;
			font-size: 24px;
			font-weight: 900;
			line-height: 1.1;
			max-width: 450px;

			a{
				color: #fff;
			}
		}

		.infos{
			font-size: 13px;
			display: flex;
			font-weight: lighter;
			justify-content: space-between;

			span{
				margin: 0px 5px;

				&:first-child{
					margin-left: 0px;
				}

				&:first-child{
					margin-right: 0px;
				}

				i{
					margin-right: 0px;
				}
			}
		}

		figure{
			width: 100%;
			height: 350px !important;
			position: relative;
			z-index: 0;
			background-color: #000;
			overflow: hidden;
			@include border-radius(0px);

			&:before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: #000;
				opacity: 0.65;
				z-index: 1;
				@extend %transition;
			}

			img{
				width: 100% !important;
				height: 100%;
				object-fit: cover;
				display: block;
				opacity: 1;
				transition: all .4s ease-in-out;
				@extend %transition;
			}
		}

		.bottom{
			width: 100%;
			position: absolute;
			left: 0px;
			bottom: 0px;
			padding: 28px;
			padding-top: 50px;
			color: #fff;
			box-sizing: border-box;
			@extend %transition;
			z-index: 2;

			.iconPlay{
				width: 100%;
				text-align: center;

				img{
					width: 65px;
					height: auto;
					display: block;
					margin: auto;
					margin-bottom: 45px;
				}
			}

			.numberNota{
				position: relative;
				left: -40px;

				svg{
					font: bold 180px Montserrat, Arial
				}
			}

			a{
				color: #fff;
			}

			.foguetes{
				margin-top: 30px;
			}
		}
		
	}
}