.ctnForm{
	width: 100%;
	display: inline-block;
	margin-top: 40px;

	.main{
		max-width: 650px;
	}

	.field{
		width: 100%;
		padding: 10px;
		float: left;
		box-sizing: border-box;

		label{
			width: 100%;
			display: inline-block;
			font-size: 13px;
			color: #a7a7a7;
			text-align: left;
			padding: 5px;
			box-sizing: border-box;
		}

		input, textarea{
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			background-color: #fff;
		}

		input[type="submit"]{
			min-width: 180px;
			width: auto;
			background-color: $orange;
			color: #fff;
			border: 0px;
			margin: 0 auto;
			display: table;
			margin-top: 25px;
			border-radius: 80px;

			&:hover{
				background-color: #000;
			}
		}
	}

	.field-50{
		width: 50%;
	}
}


span.wpcf7-not-valid-tip{
	font-size: 11px;
}

div.wpcf7-response-output{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 20px 0px;
	margin-bottom: 10px;
	border: 0px;
	color: #fff;
	text-align: center;
	background-color: #000;
	padding: 20px;
	box-sizing: border-box;
	border: 0px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	background-color: #f55151;
}

.wpcf7-mail-sent-ok{
	background-color: #34d84a;
}

.grecaptcha-badge{
	display: none !important;
}