.home-page{

	.sliderHome{

		.slick-dots{
			display: flex;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			justify-content: center;
			opacity: 0;

			&.active{
				opacity: 1;
			}

			.slick-active{
				button{
					opacity: 0.8;
				}
			}

			button{
				width: 25px;
				height: 5px;
				border: 0px;
				font-size: 0;
				background-color: #000;
				opacity: 0.3;
				margin: 0 5px;
				border-radius: 10px;
			}
		}

		.slider{
			margin: 0;
			background-color: #f2f2f2;
			height: 500px;

			&.active{
				height: auto;

				._item{
					opacity: 1;
				}
			}
			

			._item{
				background-color: #f2f2f2;
				padding: 40px 0;
				opacity: 0;
				min-height: 500px;

				.main{
					display: flex;
					justify-content: center;
					align-items: center;

					.left{
						max-width: 600px;

						h3{
							font-size: 66px;
							font-weight: 900;
							margin: 0;
							line-height: 1;
							display: block;
							margin-bottom: 15px;
							max-width: 560px;
						}

						h4{
							font-weight: normal;
							color: #909090;
							margin-top: -28px;
							font-size: 32px;
						}

						.text{
							line-height: 1.5;
							max-width: 450px;
						}

						.link{
							color: #fff;
							background-color: #000;
							padding: 6px 25px;
							margin-top: 20px;
							display: inline-block;

							&:hover{
								background-color: $orange;
							}
						}
					}

					.right{
						width: 300px;
						max-width: 35%;
						transform: rotate(9deg);
						margin-left: 10%;

						img{
							width: 100%;
							box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.6);
							-webkit-box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.6);
							-moz-box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.6);
						}
					}
				}
			}
		}
	}

	.gridHome{
		width: 100%;
		margin-top: -50px;
		display: inline-block;

		.main{
			display: flex;
			justify-content: space-between;
			max-width: 1220px;

			.collun{
				width: 33.3%;
				padding: 13px;

				&:first-child{
					width: 48%;
				}

				a{
					display: block;
				}

				img{
					width: 100%;
					margin: 30px 0;
					display: block;

					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}

	.bloco-destaque{
		margin: 20px 0;
		padding: 40px 0;
		background-color: #f2f2f2;

		.main{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;

			.left{
				width: 60%;
				max-width: 650px;

				h3{
					font-size: 54px;
					color: #000;
					margin-bottom: 20px;
					font-weight: 700;

					strong{
						color: $orange;
						font-weight: 900;
					}
				}

				p{
					font-size: 18px;
					line-height: 1.6;
				}

				.btn{
					padding: 10px 20px;
					background-color: #000;
					color: #fff;
					margin-top: 20px;
					display: inline-block;

					&:hover{
						background-color: $orange;
					}
				}
			}
		}
	}
	
}