.portfolio-page{
	
    .grid{
        width: 100%;
        margin: 60px 0;

        .main{
            display: flex;
            flex-wrap: wrap;

            ._item{
                width: 25%;
                background-color: #000;

                &:hover{
                    img{
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }

                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    opacity: 0.6;
                    border-radius: 0;
                    filter: grayscale(100%);
                }
            }
        }
    }
}