.products{
	margin: 0;

	&.columns-4{
		li.product{
			width: 25%;
			margin-right: 0px !important;
			margin-bottom: 0px !important;

			// &:nth-child(4n + 1){
			// 	clear: both !important;
			// }
		}
	}

	li.product{
		padding: 15px;
		clear: initial !important;
		margin-bottom: 0px;
		overflow: hidden;

		&.outofstock{
			._inner{
				&:before{
					content: 'Fora de estoque';
					padding: 4px 15px;
	    			border-radius: 6px;
	    			color: #fff;
	    			background-color: #000;
	    			position: absolute;
	    			left: -15px;
	    			top: 10px;
	    			border: 0px;
	    			font-weight: 800;
	    			font-size: 16px;
				}

				.button{
					background-color: #000;
					color: #fff;
				}
			}
		}

		._inner{
			padding: 0px;
    		border-radius: 6px;
    		text-align: left;
    		position: relative;
    		
    		padding-bottom: 30px;
    		margin-bottom: 50px;
    		@extend %transition;

    		.onsale, .tag_product{
    			padding: 4px 15px;
    			border-radius: 6px;
    			color: #fff;
    			background-color: $orange;
    			position: absolute;
    			left: -15px;
    			top: 10px;
    			border: 0px;
    			font-weight: 800;
    			font-size: 16px;
    			text-transform: capitalize;

    			&.green{
    				background-color: #1bcd88;
    			}
    		}

			.ctnImage{
				display: flex;
				align-items: center;
    			min-height: 350px;
				background-color: rgb(241, 241, 241);
				margin-bottom: 10px;
			}

    		.attachment-woocommerce_thumbnail{
				width: 100%;
				margin: 0px;
				max-height: 350px;
				object-fit: cover;
    		}

    		.woocommerce-loop-product__title{
    			font-weight: 800;
    			margin: 0;
    			font-size: 18px;
    			line-height: 1.1;
    		}

    		.ctnTitleProduct{
    			// min-height: 80px;
    		}

    		.price{
    			font-size: 22px;
				font-weight: 700;
				color: #000;
				margin: 0;
				margin-top: 15px;

				del{
					font-size: 22px;
					color: #949494;
					text-decoration: line-through;
				}

				ins{
					font-weight: 700;
					margin-left: 10px;
				}
    		}

    		.installments_product{
    			display: none;
				margin-top: -8px;
				font-size: 14px;
				font-weight: 600;

				&.active{
					display: inline-block;
					margin-bottom: 10px;
				}
    		}

    		.added_to_cart{
    			display: none;
    		}

    		&:hover{
    			padding-bottom: 80px;
    			margin-bottom: 0px;

				img{
					opacity: 0.8;
				}

    			.button{
    				bottom: 15px;
    				opacity: 1;
    			}
    		}

    		.button{
    			width: 100%;
				text-align: center;
				margin-top: 20px;
				border-radius: 80px;
				color: #fff;
				font-size: 17px;
				font-weight: 800;
				background-color: $orange;
				position: absolute;
				overflow: hidden;
				padding: 10px 5px;
				@extend %transition;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -40px;
				opacity: 0;

				&:hover{

					&:before{
						width: 100%;
					}
				}

				&.added{
					background-color: #000;
					color: #fff;

					&:after{
						content: 'Produto adicionado';
						width: 100%;
						height: 100%;
						background-color: #000;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 0;
					}
				}

				&:before{
					content: '';
					width: 0px;
					height: 100%;
					background-color: rgba(255,255,255,0.2);
					position: absolute;
					left: 0;
					top: 0;
					z-index: 0;
					@extend %transition;
				}
    		}
		}
	}
}


.site-main ul.products.columns-5 li.product{
	width: 20%;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}


.archive {

	.bannerTop{
		margin-bottom: 40px;
	}

	.site-main{
		.main{
			display: flex;
			justify-content: space-between;

			.sideBar{
				width: 250px;
				padding-right: 20px;
				border-right: 1px solid #ccc;
				margin-top: 74px;

				.btnFechar{
					background-color: #c5c5c5;
					color: #444;
					border-radius: 3px;
					margin-bottom: 10px;
					display: inline-block;
					float: right;
					display: none;
				}

				li{
					margin-bottom: 40px;

					h2{
						margin: 0px;
						padding: 0;
						font-weight: bold;
						font-size: 17px;
						margin-bottom: 10px;
						border-bottom: 0px; 
					}

					.itemFilter{
						width: 100%;
						margin: 2px 0;
						display: inline-block;

						&:hover{
							color: #000;
						}

						input{
							margin-right: 5px;
						}
					}
				}

				.product-categories{
					margin: 0;

					li{
						margin-bottom: 6px;
						padding-left: 0px;
						font-size: 16px;

						&.current-cat{
							a{
								color: $orange;
								font-weight: bold;
							}
						}

						&:before{
							display: none;
						}
					}
				}

				.limparFiltros{
					width: 100%;
					padding: 10px;
					text-align: center;
					color: #222;
					background-color: #f2f2f2;
					// margin-top: 10px;
					cursor: pointer;
					font-weight: bold;
					display: block;

					&:hover{
						background-color: #d4cece;
					}
				}
			}

			.mainProducts{
				width: calc(100% - 280px);

				&.full{
					width: 100%;
				}

				.widget.woocommerce{
					float: right;
					margin-right: 20px;
					margin-bottom: 20px;

					select{
						padding: 10px;
						background-color: #fff;
						border-radius: 10px;
						border: 0;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

.storefront-sorting{
	display: none;
}

.favorito-page{
	background-color: #e5e5e5;

	.list{
		width: 100%;
		display: inline-block;
	}
}

.checklist-page{
	background-color: #e5e5e5;

	.list{
		width: 100%;
		display: inline-block;

		.lineTopo{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #c8c8c8;
			padding-bottom: 20px;
			margin-bottom: 40px;

			.left{
				h4{
					font-size: 22px;
					color: #000;
					font-weight: 900;
					margin-bottom: 0;

					strong{
						color: $orange;
						font-weight: 900;
					}
				}
			}

			.right{
				display: flex;
				margin-bottom: 0;

				.field{
					margin: 0px 5px;

					select{
						padding: 10px;
						background-color: #fff;
						border: 0px;
						border-radius: 4px;
					}
				}
			}
		}
	}
}


.archive {
	.products.columns-4 li.product{
		width: 25% !important;
	}
}