@media only screen and (max-width: 1180px){

    .site-header .brand img{
        width: 180px;
    }

    .site-header .menu ul li a{
        padding: 13px;
    }
	
}

@media only screen and (max-width: 1100px){

    .site-header .menu{
        display: none;
        position: fixed;
        right: 0;
        top: 75px;
        width: 80%;
        max-width: 320px;
        background-color:#232323;
        z-index: 99;
        height: calc(100% - 78px);
        overflow: auto;
        padding: 20px;
    }

    .site-header .menu ul{
        display: block;

        li{
            width: 100%;

            a{
                display: block;
                width: 100%;
                font-size: 17px;
            }
        }
    }

    .site-header .icons .iconMenu{
        display: block;
        margin-right: 10px;
    }

    .site-header .icons .icon img{
        width: 21px;
    }

    #page {
        margin-top: 82px;
    }

    .archive .products.columns-4 li.product{
        width: 33.3% !important;
    }

    .portfolio-page .grid .main ._item{
        width: 33.3%;
    }
	
}


@media only screen and (max-width: 780px){

    .single-product .woocommerce-product-gallery{
        width: 100% !important;
    }

    .single-product div.product .summary{
        width: 100% !important;
    }

    .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li{
        width: 18% !important;
        float: left !important;
        margin-right: 20px !important;
    }

    .single-product .dadosTecnicos .woocommerce-product-details__short-description{
        column-count: 2;
    }

    .products li.product ._inner{
        padding-bottom: 60px;
        margin-bottom: 0px;
    }

    .single-product .up-sells.products .product{
        margin-bottom: 20px;
    }

    .products li.product ._inner .button{
        bottom: 0;
        opacity: 1;
    }

    .yith-wfbt-section{
        display: none;
    }

    ul.products{
        display: flex;
        flex-wrap: wrap;
    }
	
	
}


@media only screen and (max-width: 680px){

    .home-page .sliderHome .slider ._item .main{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .home-page .sliderHome .slider ._item .main .left{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }


    .home-page .gridHome .main{
        flex-wrap: wrap;
    }

    .home-page .gridHome .main .collun:first-child, .home-page .gridHome .main .collun{
        width: 100%;
    }

    .home-page .bloco-destaque .main .left{
        width: 90%;
    }

    .home-page .bloco-destaque .main .left h3{
        line-height: 1;
    }

    .home-page .bloco-destaque .main figure{
        margin-top: 20px;

        img{
            max-width: 200px;
        }
    }

    .newsletter .main .title{
        width: 100%;
    }

    .newsletter .main{
        flex-wrap: wrap;
    }

    .newsletter .main form{
        width: 100%;
        margin-top: 20px;
    }

    .archive .products.columns-4 li.product{
        width: 50% !important;
    }

    .sobre-page .main .left{
        width: 100%;
        margin-top: 20px;
    }

    .sobre-page .main{
        flex-direction: column-reverse;
    }

    .portfolio-page .grid .main ._item{
        width: 50%;
    }

}

@media only screen and (max-width: 550px){
    .archive .products.columns-4 li.product{
        width: 100% !important;
    }
}

@media only screen and (max-width: 450px){
    .newsletter .main form{
        flex-wrap: wrap;
    }

    footer .lineTop .menu ul, footer .lineTop{
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .lineTop .menu ul{
        margin-bottom: 20px;
    }

    footer .lineBottom{
        flex-wrap: wrap;
        justify-content: center;

        span{
            margin: 5px 0;
        }
    }

    .posts.col-2 ._itemGrid{
        width: 100%;
    }

    .posts ._itemGrid{
        width: 100%;
    }

    .posts.col-3 ._itemGrid{
        width: 100%;
    }

    .home-page .sliderHome .slider ._item .main .left h3{
        font-size: 50px;
    }

    .home-page .sliderHome .slider ._item .main .left h4{
        font-size: 26px;
        margin-top: -18px;
    }

    .home-page .gridHome .main .collun:first-child, .home-page .gridHome .main .collun{
        padding: 0px;
    }

    .home-page .gridHome .main .collun img{
        margin: 10px 0;
    }

    .home-page .gridHome{
        margin: 40px 0;
    }

    .modalBusca .bottom form button{
        width: 100px;
        padding: 10px;
    }

    .modalBusca .bottom form input{
        font-size: 18px;
    }

    .modalBusca .bottom{
        margin-top: 25%;
    }

    .site-header .icons .linkCart .number{
        right: -17px;
        top: -12px;
    }

    .home-page .sliderHome .slick-dots{
        bottom: -10px;
    }

    .portfolio-page .grid .main ._item{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 360px){
    .site-header .icons .icon{
        margin: 0px 5px;
    }

    .site-header .brand img{
        width: 150px;
    }

    .bannerTop{
        height: 180px;
    }

    .bannerTop .title{
        font-size: 30px;
    }

    #page{
        margin-top: 75px;
    }

    .sobre-page .main .left h2{
        font-size: 29px;
    }

   

    
}