/* SETUP */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$time-transition  : 0.3s;

%transition {
  -webkit-transition: all ease-in-out $time-transition; 
  -moz-transition: all ease-in-out $time-transition; 
  transition: all ease-in-out $time-transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body, html{
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

ul, li { 
  list-style: none; @extend %transition;
  padding: 0px;
  margin: 0px;
}


figure{
  margin: 0px;
}

#page{
  margin-top: 126px;
}

.main{
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

a{
  color: #000;
}

*{
  outline: none !important;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4{
  margin: 0px;
}
a, ul, span, svg, img {
  @extend %transition;
}

::selection {
  background: #fad686; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #fad686; /* Gecko Browsers */
  color: #fff;
}
/* SETUP */


/* CORES */
$orange: #e97d35;
/* CORES */