.single-product{
	
	.product{
		margin-top: 40px;

		form.cart{
			margin-bottom: 1.618em;
			padding: 1em 0;
			border: 2px solid #222;
			border-radius: 10px;
			padding: 20px !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			&:before, &:after{
				display: none;
			}

			&.variations_form{
				.price{
					display: none;
				}

				.woocommerce-variation{
					.price{
						display: block;
						font-size: 29px;
					}
				}

				.single_variation_wrap{
					width: 100%;
				}
			}

			.price{
				display: block;

				del{
					opacity: .5;
    				font-weight: 400;
				}

				del+ins{
					margin-left: 0;
					font-size: 29px;
					margin-top: -10px;
					display: block;
				}
			}
		}

		.price{
			display: none;
		}
	}

	.product_meta{
		display: none;
	}

	.product_cat-commissions{
		.woocommerce-product-gallery{
			// display: none;
		}

		.related.products{
			display: none;
		}
	}

	.woocommerce-product-gallery{
		width: 48% !important;
		
		.flex-viewport{
			background-color:#f2f2f2;
		}

		.woocommerce-product-gallery__image{
			display: flex !important;
			justify-content: center;
			align-items: center;
			background-color:#f2f2f2;
		}

		.woocommerce-product-gallery__trigger{
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
			height: calc(100% - 90px) !important;
			z-index: 1 !important;
			background-color: transparent !important;

			img, &:before{
				display: none !important;
			}
		}
	}

	div.product .summary{
		width: 45% !important;

		.product_title{
			font-weight: bold;
		}
	}

	.dadosTecnicos{
		width: 100%;
		display: inline-block;
		padding: 20px 0;
		padding-bottom: 30px;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

		h4{
			font-weight: bold;
		}

		.woocommerce-product-details__short-description{
			column-count: 3;

			ul{
				margin: 0;
			}
		}
	}

	.yith-wfbt-form{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.yith-wfbt-section .yith-wfbt-images{
		width: 70% !important;
	}
	

	.yith-wfbt-section{
		h3{
			font-weight: bold;
			margin-bottom: 0;
		}
	}

	.yith-wfbt-section .yith-wfbt-images td{
		padding: 0;
	}

	.yith-wfbt-submit-block{
		float: left;
	}

	.yith-wfbt-section .yith-wfbt-images td{
		background-color: transparent !important;
	}

	.yith-wfbt-section .yith-wfbt-images td img{
		margin: 0 auto;
		width: 230px;
		border: 15px solid #fff;
		border-radius: 6px;
	}

	.yith-wfbt-section .yith-wfbt-images .image_plus{
		font-size: 50px;
	}

	.up-sells.products{
		margin-top: 40px;
		width: calc(100% + 30px);
		margin-left: -12px;

		h2{
			text-align: left !important;
			font-weight: bold;
			margin-bottom: 0;
			font-size: 1.41575em !important;
			margin-left: 12px;
		}

		.product{
			margin-top: 0 !important;
		}
	}

	.ctnVideo{
		width: 100%;
		padding: 60px 0;
		display: inline-block;
		background-color: #f8f8f8;

		.main{
			max-width: 800px;
		}

		.title{
			width: 100%;
			text-align: center;
			font-weight: bold;
		}

		iframe{
			width: 100%;
			margin: 40px auto !important;
		}
	}

	.ctnPrice{
		// width: 100%;
		padding: 15px 20px;
		box-sizing: border-box;
		border: 2px solid #e2e2e2;
		border-radius: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;

		form.cart{
			margin-bottom: 0 !important;
			display: block;
		}


		&.virtual{
			border-color: transparent;
			padding: 0px 20px;

			.priceLeft {
				.woocommerce-Price-amount{
					font-size: 28px;
				}

				span{
					color: #626262;
					font-size: 16px;
				}
			}

			.links{
				display: flex;
    			flex-wrap: wrap;
    			
				.btn{
					padding: 8px 20px;
    				background-color: #fff;
    				border: 2px solid #000;
    				margin: 4px 5px;
    				color: #000;
    				font-weight: bold;

    				&:hover{
    					background-color: #f2f2f2;
    				}
				}
			}
		}

		form{
			margin-bottom: 0;
		}

		.input-text.qty{
			background-color: #e9e9e9;
			border: 1px solid #ccc;
			border-radius: 6px;
			margin-right: 20px;
		}

		.priceLeft{
			margin-right: 20px;

			span{
				font-size: 18px;
				color: #231f20;

				&.labelP{
					margin-bottom: -14px;
					display: block;
				}
			}

			del{
				display: block;
				margin-bottom: -12px;

				.woocommerce-Price-amount{
					font-size: 16px;

					span{
						font-size: 15px;
					}
				}
			}

			ins{
				margin-left: 0px;
				display: block;
				margin-bottom: -10px;
			}

			.woocommerce-Price-amount{
				font-size: 32px;
				font-weight: bold;

				span{
					margin-right: 5px;
				}
			}
		}
	}
}



