.sobre-page{
	padding: 120px 0;

	.main{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;

		.left{
			width: 50%;

			h2{
				margin-bottom: 20px;
				font-weight: 500;
				font-size: 37px;
			}

			p{
				margin: 20px 0;
				line-height: 1.5;
			}

			.redes{
				display: flex;
	
				a{
					width: 32px;
					height: 32px;
					border: 1px solid #000;
					margin-right: 15px;
					color: #000;
					font-size: 17px;
					opacity: 0.6;
					border-radius: 100%;
					text-align: center;
					line-height: 30px;
	
					&:hover{
						opacity: 0.9;
					}
				}
			}
		}

		.right{
			width: 40%;

			img{
				width: 100%;
				display: block;
			}
		}
	}
}